.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .grid-item h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .grid-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .grid-item button:hover {
    background-color: #0056b3;
  }

  /* Style for the button */
.button {
    display: inline-block;
    padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        /* Style for the modal */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
            padding-top: 50px;
        }
    
        /* Modal content */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 600px;
        }
    
        /* Image inside modal */
        .modal-content img {
            width: 100%;
            height: auto;
        }
    
        /* Close button */
        .close {
            color: #fff;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 30px;
            font-weight: bold;
            transition: 0.3s;
        }
    
        .close:hover,
        .close:focus {
            color: #ccc;
            text-decoration: none;
            cursor: pointer;
        }
        #rame{
            background-color: white;
        }